<h1>hello from posts
</h1>


<%@posts.each do|post|%>

    <%=post.title%>
    <%=post.context%>
    <%=post.published%>

<%end%>

<div>
<br>
<br>
<%@published_posts.each do|post|%>
<li>
    <%=post.title%>
    <%=post.context%>
    <%=post.published%>
</li>
<br>
<%end%>
</div>